
*{
	margin:0;
	top:0;
}
nav{
	width:100%;
	height:69px;
	background-color:#202121;
	position:sticky;
	line-height:60px;
	font-family: 'Wendy One', sans-serif;
	font-size:20px;
	text-align:center;
	font-weight:bold;
	border-style:groove;
	border-color:#000;
	border-width:2px;
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	top: 0;
	transition: top 0.3s;
}
nav a{
	text-decoration:none;
	color:#fff;
	border-style:solid;
	border-radius:25px;
	border-color:#fff;
	color: white;
	text-align: center;
	padding:5px;
	margin:1px;
}
nav a:hover{
	color:#000;
	background-color:#fff;
	border:solid;
	border-color:#fff;
	transition-duration:0.5s;
}
nav a:active{
	font-size:0.9em;
	transition-duration:0.5s;
}
nav li{
	list-style-type:none;
	display:inline;
	padding:30px;
	font-size:1.5em;
}
header{
	  background:#000;
}
header img{
	z-index: 3;
	max-width:100%;
	height:auto;
	width:auto;
	min-height:100%;
	max-height:100%;
	
}

section{
	background-color:#fff;
	padding-left:10%;
	padding-right:10%;
	padding-top:20px;
	padding-bottom:30px;
	border-style:groove;
	border-color:#000;
	border-left-style:none;
	border-right-style:none;
}
section h1{
	padding-bottom:30px;
	font-family: 'Wendy One', sans-serif;
	font-size:40px;
}
article p{
	padding:20px;
	line-height:1.5em;
	font-size:1.4em;
	font-family: 'Cantora One', sans-serif;
}
footer{
	width:100%;
	height:75px;
	background-color:#202121;
	border-style:groove;
	border-color:#000;
	border-width:2px;
	border-left-style:none;
	border-right-style:none;
	border-bottom-style:none;
	text-align:center;
}
footer img{
	width:300px;
	height:auto;
}

#parallax1{height:90vh;width:100%;background-image:url("grafika/2.jpg");background-size:cover;display:table;background-attachment:fixed;}

#parallax2{height:90vh;width:100%;background-image:url("grafika/3.jpg");background-size:cover;display:table;background-attachment:fixed;}

#parallax3{height:90vh;width:100%;background-image:url("grafika/4.png");background-size:cover;display:table;background-attachment:fixed;}

#parallax4{height:90vh;width:100%;background-image:url("grafika/5.jpg");background-size:cover;display:table;background-attachment:fixed;}